#imageContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
#travelHistory {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #4f200d;
  padding-bottom: 10px;
  width: 95%;
  /* text-align: center; */
}
#travelHistory > h1,
h2 {
  color: antiquewhite;
}
